/*** JavaScript demonstration ***/
#square,#square2,#square3 {
  width: 20em;
  height: 20em;
  border: 2px inset gray;
  margin-bottom: 1em;
}

button {
  padding: .5em 2em;
}

*{
  margin: auto;
  text-align: center;
}
#principal{
 


 margin: auto;
 width: 1000px;
}
