body{
    background: rgb(43, 4, 43);
    background-repeat: no-repeat;
    font: normal 15pt arial;
    text-align: center;
}
header{
    color: white;


}
h1{
    text-shadow: 1px 1px 1px black;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
   


}
footer{
    color: white;


}
img{
    max-width: 400px;
}